<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Computer Vision</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'myapp/assets/img/favicon.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'myapp/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" >
  <link href="{% static 'myapp/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'myapp/assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="/" class="logo"><img src="{% static 'myapp/assets/img/ai_logo.png' %}" alt="" class="img-fluid"></a>      
	<nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#partners">Partners</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="https://upheaval.tech/" class="get-started-btn scrollto" target="_blank">Get Started</a>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>&nbsp</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li aria-current="page">Computer Vision</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="portfolio-details-container">
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'myapp/assets/img/services/computer-vision-1.jpg' %}" class="img-fluid" alt="">
            <img src="{% static 'myapp/assets/img/services/computer-vision-2.jpg' %}" class="img-fluid" alt="">
            <img src="{% static 'myapp/assets/img/services/computer-vision-3.jpg' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="portfolio-description">
          <h2>An Introductory Guide to Computer Vision</h2>
          <p>
            One of the most powerful and compelling types of AI is computer vision which you&#39;ve almost surely experienced in any number of ways without even knowing. Here&#39;s a look at what it is, how it works, and why it&#39;s so awesome (and is only going to get better).
            <br><br>
            Computer vision is the field of computer science that focuses on replicating parts of the complexity of the human vision system and enabling computers to identify and process objects in images and videos in the same way that humans do. Until recently, computer vision only worked in limited capacity.
            <br><br>
            Thanks to advances in artificial intelligence and innovations in deep learning and neural networks, the field has been able to take great leaps in recent years and has been able to surpass humans in some tasks related to detecting and labeling objects.
            <br>
            One of the driving factors behind the growth of computer vision is the amount of data we generate today that is then used to train and make computer vision better.
            <br><br>
            Along with a tremendous amount of visual data (more than 3 billion images are shared online every day), the computing power required to analyze the data is now accessible. As the field of computer vision has grown with new hardware and algorithms so has the accuracy rates for object identification. In less than a decade, today&#39;s systems have reached 99 percent accuracy from 50 percent making them more accurate than humans at quickly reacting to visual inputs.
            <br><br>
            Early experiments in computer vision started in the 1950s and it was first put to use commercially to distinguish between typed and handwritten text by the 1970s, today the applications for computer vision have grown exponentially.
          </p>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <div class="footer-info">
              <h3>Upheaval<span>.</span></h3>
              <p>
                A-181,Sector 14-B, Shadman Town, Karachi. <br>
                <strong>Phone:</strong> +92-334-3231802<br>
                <strong>Email:</strong> info@upheaval.tech<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

       <!--   <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#partners">Partners</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
            </ul>
          </div> -->

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/power-robotics">Power Robotics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/autonomous-robots">Autonomous Robots</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/defense-applications">Defence Applications</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/retail-industry">Retail Industry</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/computer-vision">Computer Vision</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our mailing list</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Upheaval</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'myapp/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'myapp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'myapp/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'myapp/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'myapp/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'myapp/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'myapp/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'myapp/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'myapp/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'myapp/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'myapp/assets/js/main.js' %}"></script>

</body>

</html>